.header {
  background: #297f8e;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  & a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
  }
}

.menu-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
}

.menu {
  display: flex;
  padding: 0 20px;
}

.menu-item {
  list-style: none;
  padding: 8px;
}

.right-container {
  display: flex;
  align-items: center;
}

.search-btn {
  display: inline-block;
}
