$shadowColor : -10px 0px 13px -7px #000000,
 10px 0px 13px -7px #000000,
 5px 5px 15px 5px rgba(0, 0, 0, 0);

.MuiCard-root {
    transition: 1s ease-in;
    &:not(:first-child) {
            margin-left: 10px;
        }
    &:hover {
        transform: scale(1.1);
        translate: transform;
        transition: 0.5s ease-in;  
        box-shadow: $shadowColor;
    }
}
.hidden {
    display: none;
}
