.search {
  position: relative;
  .input {
    width: 100%;
    height: 46px;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
  }
  .button {
    position: absolute;
    top: 0;
    right: 0;
    height: 46px;
    padding: 10px 26px;
    border-radius: 30px;
  }
}
